#.vs folders
**/.vs/*



#编译结果，输出文件
**/Debug/*
**/Release/*
**/bin/*
**/obj/*
**/packages/*


#保留Qt项目依赖文件
!**/Debug/moc/
!**/Release/moc/
!**/Debug/qmake/
!**/Release/qmake/
!**/Debug/rcc/
!**/Release/rcc/
!**/Debug/uic/
!**/Release/uic/